 @charset "ISO-8859-1";
h1{
	margin-top:20px;
	margin-bottom:30px;
}
body{
		font-family:Arial;
}
table{
	margin:25px 0;
	border-collapse:collapse;
}
thead tr{
	background-color:#009999;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	
}
tbody tr{
	border-bottom: 1.5px solid #dddddd;
}
tbody tr:nth-of-type(even){
	background-color:#f3f3f3;
} 
tbody tr:last-of-type{
	border-bottom: 2px solid #009999;
	
}
th{
	padding:12px 15px;	
	text-align:center;
}
td{
	padding:12px 15px;	
}
a.clickMe {
  position: absolute;
  top: -5px;
  right: 10px;
  background: #009999;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  text-decoration:none;
}
a{
  background: #009999;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  text-decoration:none;
  margin:30px;
  align-self:center;
}
